In [3]:
import numpy as np
import pandas as pd

In [5]:
data0 = pd.read_excel (r'E:\!UFE\4th Semester\DBP221 - Python\SEMINAR\Week7_Store Data Sample.xlsx', sheet_name = "Sheet2")
data0

,Order,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300,2,0.00,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500,3,0.00,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100,2,0.00,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800,5,0.00,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150,2,0.00,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Гишүүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300,1,0.03,3201.0
96,CA-2017-161018,2017-11-09,AJ-10945,Гишүүн,Сүхбаатар,Самар чипс,Lays чипс 80 гр,2300,7,0.03,15617.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500,3,0.00,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000,6,0.00,12000.0
99,CA-2016-158568,2016-08-29,DK-12835,Гишүүн,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800,7,0.03,12222.0

In [6]:
#1 Эхний 10 мөрийг сонгож авна уу.
data1 = data0.iloc[:11]
data1

,Order,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300,2,0.0,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500,3,0.0,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100,2,0.0,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800,5,0.0,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150,2,0.0,2300.0
5,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,Жимс ногоо,Помидор том,4000,7,0.0,28000.0
6,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,Гурил будаа,Слава хивэг 400 гр,750,4,0.0,3000.0
7,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,Бичиг хэрэг,Үзгэн бал арилгадаг,2500,6,0.0,15000.0
8,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,"OO ийн цаас, сальфетка",Lady 20 ш,2200,3,0.0,6600.0
9,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,Ундаа ус,370 Жүүс 370 мл,850,5,0.0,4250.0
10,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,"OO ийн цаас, сальфетка",Саль ариун 30 ш,2200,9,0.0,19800.0

In [7]:
#2 78-88 дугаар мөрөнд байгаа мэдээллээс Product Name, Sales багануудыг харуулна уу.
data2 = data0.loc[78:88,['Product Name', 'Sales']]
data2

                           Product Name    Sales
78          Чихэр кг Конфет Кино 400 гр  15000.0
79                        Cocoro 100 гр   2300.0
80                     3н өнгийн алчуур   3300.0
81           Оргилуун ус жимстэй 500 мл   5250.0
82                     Видан зөгийн бал   3300.0
83                      Сор жүүс 200 мл   3500.0
84                 Гурвалжин шоко 22 гр   1746.0
85                        Гоё тетра 1 л   3200.0
86                     Хараа 0.75 цэвэр  11500.0
87              Шпрот урт татдаг 190 гр   7000.0
88  Bagro хүрэн манжингийн салат 500 мл  14938.0

In [8]:
#3 Quantity болон Sales баганыг сонгож авна уу.
data3 = data0.T
data3 = data3.loc[['Quantity','Sales']]
data3.T

   Quantity    Sales
0         2   6600.0
1         3   1500.0
2         2   6200.0
3         5  14000.0
4         2   2300.0
..      ...      ...
95        1   3201.0
96        7  15617.0
97        3   1500.0
98        6  12000.0
99        7  12222.0

[100 rows x 2 columns]

In [9]:
#4 Quantity болон Sales баганын нийлбэрүүдийг харуулна уу.
data4 = data0['Quantity'] + data0['Sales']
data4

0      6602.0
1      1503.0
2      6202.0
3     14005.0
4      2302.0
       ...
95     3202.0
96    15624.0
97     1503.0
98    12006.0
99    12229.0
Length: 100, dtype: float64

In [10]:
#5 Product Name баганыг сонгож авна уу.
data5 = data0.T
data5 = data5.loc[['Product Name']]
data5.T

               Product Name
0        Shokolinsen 250 гр
1       Хэрэглээ 00ийн цаас
2   Алимтай жигнэмэг 230 гр
3       Золотой янта 500 гр
4              Punch 450 мл
..                      ...
95            Hainich нухаш
96          Lays чипс 80 гр
97           Монстров 23 гр
98              Арвай 0.100
99     Тэйсти гоймон 110 гр

[100 rows x 1 columns]

In [13]:
#6 Product Name баганын давхардаагүй утгуудыг харуулна уу.
data6 = data0['Product Name'].unique()
data6

array(['Shokolinsen 250 гр', 'Хэрэглээ 00ийн цаас',
       'Алимтай жигнэмэг 230 гр', 'Золотой янта 500 гр', 'Punch 450 мл',
       'Помидор том', 'Слава хивэг 400 гр', 'Үзгэн бал арилгадаг',
       'Lady 20 ш', '370 Жүүс 370 мл', 'Саль ариун 30 ш', 'Pysio 300 мл',
       'A vodka 0.5', 'Өгөөж танзуур', 'Vita жимстэй ус 510 мл',
       'Алое шилтэй 180 мл', 'Power 400 g',
       'Пломбир на сливках 80 гр савтай', 'Удон гоймон ууттай',
       'M&M 45 гр', 'Витафит ус 500 мл', 'Памперс №4',
       'Solpro майонез 3 л 67 %', 'Магнат 80 гр',
       'Хувцасны өлгүүр 5 ш алаг', 'Шингэн чихэр', 'Akuku резин 90 гр',
       'Сахлын татуурга Gilette', 'Русский сахар 250 гр',
       'Бэлэн гоймон төмстэй', 'Хүслийн ундаа 500 мл',
       'Arizona лаазтай 680 мл', 'Jacobs кофе', 'Өглөө сүү',
       'Амт чипс 55 гр', 'Эгоист 65 гр', 'Colgate total 100 гр',
       'Слава гурвалжин будаа 650 гр', 'Хараа 0.75 цэвэр',
       'Вигора 200 гр', 'Давс 1 кг', 'Mini cracker 350 гр',
       'Тоник лаазтай 330 мл', 'Tide 450 гр авто',
       'Paldo king noodle 110 гр', 'Цесна 25 кг', 'Appetita плова',
       'Саль ариун 100 ш', 'Слава каш 1 кг', 'Моя семъя 1 л',
       'Зуун наст 1.25 мл', 'Мандарин', 'Appetita будаатай хуурга',
       'Цэвэрхэн 00ийн цаас', 'Siesta үзэм 200 гр',
       'Махеевь салатны 400 мл', 'Selpak 2 хайрцаг', 'Oleina тос 1 л',
       'Чихэр кг Кокос 400 гр', 'Nivea тос 50 мл', 'Омо 100 гр',
       'Өгөөж вафли', 'Head & Shoulders 400 мл', 'Жимстэй чокопай 6 ш',
       'Соёолж 2.5 л', 'Тэргүүн 0.5', 'Витсамо ус 500 мл', 'Дашида 50 гр',
       'Заантай будаа 5 кг', 'Lays чипс 80 гр', 'Хавиргатай рагу 454 гр',
       'Хутга 1 ш', 'Нандин чавга 250 гр', 'Чинжүү',
       'Чихэр кг Конфет Кино 400 гр', 'Cocoro 100 гр', '3н өнгийн алчуур',
       'Оргилуун ус жимстэй 500 мл', 'Видан зөгийн бал',
       'Сор жүүс 200 мл', 'Гурвалжин шоко 22 гр', 'Гоё тетра 1 л',
       'Шпрот урт татдаг 190 гр', 'Bagro хүрэн манжингийн салат 500 мл',
       'Цагаан самар 50 гр', 'Махны мод дугуй', 'Биг ланч 110 гр савтай',
       'Custard 6 ш', 'Алтантүрүү 0.5', 'Фифти фифти 180 гр',
       'Hainich нухаш', 'Монстров 23 гр', 'Арвай 0.100',
       'Тэйсти гоймон 110 гр'], dtype=object)

In [14]:
#7 Product Name баганын давхардаагүй утгууд нийт хэд байгааг тоолж харуулна уу.
data7 = data0['Product Name'].nunique()
data7

94

In [18]:
#8 Product Name баганын давхардсан утгуудыг харуулна уу.
data8 = data0.['Product Name'].merge()
data8

SyntaxError: invalid syntax (Temp/ipykernel_7456/1676774328.py, line 2)

In [22]:
#9 Order ID баганын давхардаагүй утгууд нийт хэд байгааг тоолж харуулна уу.
data9 = data0['Order'].unique()

KeyError: 'Order'

In [9]:
#10 Бараа тус бүрээс хэдэн ширхэгийг зарсаныг харуулна уу.

In [10]:
#11 Хамгийн өндөр дүнтэй борлуулалтыг (Order ID) олно уу.

In [11]:
#12 Хамгийн өндөр дүнтэй зарагдсан барааг (Sales) олно уу.