In [52]:
#1. Жагсаалтад 'python', 'php', 'java' гэсэн утгуудыг хадгал. Жагсаалт дахь байрлалыг ашиглан эдгээр утга бүрийг хэвлэ.
print('1-р ажил:')

list1=['python', 'php', 'java']
for element in list1:
    print(element)

1-р ажил:
python
php
java

In [53]:
#2. 10 гишүүн бүхий тоон жагсаалт үүсгэ. Жагсаалтын нийлбэрийг давталт ашиглан хэвлэ.
print('2-р ажил:')

list2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i = 0
for element in list2:
	i = i + element 
print(i)

2-р ажил:
55

In [54]:
#3. 5 гишүүн бүхий тоон жагсаалт үүсгэ.Жагсаалтын гишүүдийн үржвэрийг хэвлэх функц бич. Үр дүнг хэвлэ.
print('3-р ажил:')

list3=[1,2,3,4,5]
def mutiple():
	i = 1 
	for element in list3:
		i = i*element
	print(i)

mutiple()

3-р ажил:
120

In [55]:
#4. Өгөгдсөн тоон жагсаалтын 3 дахь элементийг сүүлийн сүүлийн элементтэй үржүүлэн үр дүнг буцаадаг функц бич.
print('4-р ажил:')

list4 = [1,2,3,4,5,6,7,8,9]
a=list4[2]
b=list4[-1]
def lastdigit():
	print(a*b)

lastdigit()

4-р ажил:
27

In [56]:
#5. Өгөгдсөн тоон жагсаалтаас хамгийн их болон хамгийн бага утгуудыг буцаах функц бич. Үр дүнг хэвлэ.
print('5-р ажил:')

list5 = [1,2,3,4,5,6,7,8,9]

def list_return():
    min_utga = min(list5)
    max_utga = max(list5)
    print('hamgiin ih utga ni:', max_utga)
    print('hamgiinh baga ugta ni:', min_utga)
    
list_return()

5-р ажил:
hamgiin ih utga ni: 9
hamgiinh baga ugta ni: 1

In [57]:
#6. Өгөгдсөн жагсаалтаас хоёроос дээш оронтой, эхний болон төгсгөлийн тэмдэгтүүд нь хоорондоо адилхан гишүүн хэд байгааг тоолох функц бич.
#Жишээ: Оролт [abdba, abcd, 121 ], Гаралт 2
print('6-р ажил:')

list6 = ['abba', 'tenet','kgkg', '505', '101', '101', '104', '1004', '1001']

def match(list6):
    a = 0
    for element in list6:
        if len(element) > 1 and element[0] == element[-1]:
            a += 1
    return a 
b = match(list6)
print(b)

6-р ажил:
6

In [58]:
#7. Өгөгдсөн жагсаалтаас давхардсан утгуудыг арилгаж, хэвлэ.
#Жишээ: Оролт [abdba, abcd, 121, 121, abcd ], Гаралт [abdba, abcd, 121 ]
print('7-р ажил:')

list7 = ['abba', 'tenet','kgkg', '505', '101', '101', '104', '1004', '1001']
new_list7 = set(list7)
print(list(new_list7))

7-р ажил:
['abba', '505', '1004', '104', 'kgkg', 'tenet', '1001', '101']

In [59]:
#8. Жагсаалт хоосон эсэхийг шалгах функц бич. Үр дүнг хэвлэ.
print('8-р ажил:')

list8 = ['abba', 'tenet','kgkg', '505', '101', '101', '104']

def empty(list8):
    if len(list8) > 0:
        print('list hooson bish baina.')
    elif len(list8) == 0:
        print('list hoosn baina.')
        
a = empty(list8)
print(a)

8-р ажил:
list hooson bish baina.
None

In [60]:
 #9. 10 гишүүн бүхий жагсаалтын 4, 6, 8 дахь гишүүдийг устгаж, хэвлэ.
print('9-р ажил:')
list9 = [1,2,3,4,5,6,7,8,9,10]
del(list9[4])
del(list9[5])
del(list9[-3])

print(list9)

9-р ажил:
[1, 2, 3, 4, 6, 9, 10]

In [61]:
#10. Тоон гишүүн бүхий tuple үүсгэ.
print('10-р ажил:')
tuplex = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
print(tuplex)

10-р ажил:
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [62]:
#11. Tuple –д гишүүн нэмэх програм бич.
print('11-р ажил:')

list11 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
list11 = list(list11)
list11.extend([11,12,13,14])
list11 = tuple(list11)
print(list11)

11-р ажил:
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [63]:
#12. Tuple –ийн 2 дахь элемент болон араасаа 2 дахь элементийг хэвлэ.
print('12-р ажил:')
list12 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print('2 dahi element:', list11[1])
print('araasaa 2 dahi element:', list11[-2])

12-р ажил:
2 dahi element: 2
araasaa 2 dahi element: 13

In [92]:
#13. Tuple –д гараас оруулсан утга байгаа эсэхийг шалгах програм бич.
print('13-р ажил:')

set13 = ('1', '2', 'aba', '4', '5', '6', '7', '8')
utga = input('ymr negen utga oruulna uu: ')
if utga in set13:
    print('oruulsan utga set-d baina.')
else:
    print('oruulsan utga set-d baihgui.')

13-р ажил:
ymr negen utga oruulna uu: 2
oruulsan utga set-d baina.

In [82]:
#14. Өгөгдсөн Tuple –ийн бүх гишүүдийг давталт ашиглан хэвлэ.
print('14-р ажил:')

list14 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for element in list14:
    print(element)

14-р ажил:
1
2
3
4
5
6
7
8
9
10

In [66]:
#15. 2 төрлийн set үүсгэн хооронд нь нэгтгэх програм бич.
print('15-р ажил:')
def negdel():
    set15 = {1,2,3,4,5,6,7}
    set15_1 = {'banana', 'cherry'}
    negdel = set.union(set15, set15_1)
    print(negdel)
    
negdel()

15-р ажил:
{1, 2, 3, 4, 5, 6, 7, 'banana', 'cherry'}

In [67]:
#16. 2 төрлийн set үүсгэн аль алинд байгаа утгыг олох програм бич.
print('16-р ажил:')
set16_1 = {'1', '2', 'aba', '4', '5', '6', '7', '8'}
set16_2 = {'4', '5', '8', '9', '3', '10', 'aba', '8'}

def intersection ():
    print('2 turliin set-d ali alind ni baigaa ugta:', set16_1 & set16_2)
    
intersection()

16-р ажил:
2 turliin set-d ali alind ni baigaa ugta: {'5', '8', '4', 'aba'}

In [68]:
#17. Өгөгдсөн set-ийн уртыг ол.
print('17-р ажил:')

set17 = {1, 2, 3, 4, 5, 6, 7, 'cherry', 'banana'}
print(len(set17))

17-р ажил:
9

In [94]:
#18. Өгөгдсөн set-ээс гараас оруулсан утгыг устга.
print('18-р ажил:')


set18 = {'1', '2', '3', '4', '5', '6', '7', '8', '9', '10'}

set18.remove(input('set18-d baigaa 1-10 hoorond utga oruulna uu:'))
print(set18)

18-р ажил:
set18-d baigaa 1-10 hoorond utga oruulna uu:1
{'3', '8', '5', '2', '10', '9', '6', '7', '4'}

In [70]:
#19. Өгөгдсөн set-ийн бүх утгыг устга.
print('19-р ажил:')

set19 = {1, 2, 3, 4, 5, 6, 7, 'cherry', 'banana'}
set19.clear()
print(set19)

19-р ажил:
set()

In [71]:
#20. Өгөгдсөн set-ийг устга.
print('20-р ажил:')
set19 = {1, 2, 3, 4, 5, 6, 7, 'cherry', 'banana'}
del set19

20-р ажил:

In [107]:
#21. Key, value нь тоон утга бүхий dictionary үүсгэж өсөх болон буурахаар эрэмбэл.
print('21-р ажил:')

dict21 = { 
    10 : 2,
    2 : 3,
    5 : 4,
}

print('value utgaar ni key-g ihees baga ruu', sorted(dict21))
print('key utgaar ni value-g bagaas ih ruu', sorted(dict21.items()))

21-р ажил:
value utgaar ni key-g ihees baga ruu [2, 5, 10]
key utgaar ni value-g bagaas ih ruu [(2, 3), (5, 4), (10, 2)]

In [126]:
#22. Өгөгдсөн key нь dictionary –д байгаа эсэхийг шалгах програм бич.
print('22-р ажил:')

dict22 = { 
    '10' : 2,
    '2' : 3,
    '5' : 4,
}

ugta = input('utga oruulna uu: ')
a = dict22.keys()

if utga in a:
    print('tanii oruusan utga baina.')
else:
    print('tanii oruulsn utga baihui baina')

22-р ажил:
utga oruulna uu: 10
tanii oruusan utga baina.

In [127]:
#23. Өгөгдсөн value нь dictionary –д байгаа эсэхийг шалгах програм бич.
print('23-р ажил:')

dict23 = { 
    '10' : '2',
    '2' : '3',
    '5' : '4',
}

ugta = input('utga oruulna uu: ')
a = dict22.values()

if utga in a:
    print('tanii oruusan utga baina.')
else:
    print('tanii oruulsn utga baihui baina')

23-р ажил:
utga oruulna uu: 4
tanii oruusan utga baina.

In [130]:
#24. For давталт ашиглан dictionary –ийн key, value –г хэвлэх програм бич.
print('24-р ажил:')

dict24 = { 
    '10' : '2',
    '2' : '3',
    '5' : '4',
}
for key, value in dict24.items():
    print(key, ' : ', value)

24-р ажил:
10  :  2
2  :  3
5  :  4

In [134]:
#25. Хоёр dictionary үүсгэж хооронд нь нэгтгэ.
print('25-р ажил:')

dict25_1 = { 
    '10' : '2',
    '2' : '3',
    '5' : '4',
}
dict25_2 = {
    'bat' : 17,
    'mendee' : 20,
    'sod' : 5,
}
union = dict(dict25_1,**dict25_2)
print(union)

25-р ажил:
{'10': '2', '2': '3', '5': '4', 'bat': 17, 'mendee': 20, 'sod': 5}

In [138]:
#26. Dictionary –д байгаа value хооронд нь нэмэх програм бич.
print('26-р ажил:')

dict26 = {
    'bat' : 17,
    'mendee' : 20,
    'sod' : 5,
}

    
def sum_value(dict26):
    list = []
    for element in dict26:
        list.append(dict26[element])
    final = sum(list)
    return final

sum_value(dict26)

26-р ажил:

42